@use "src/styles/utils" as utils;

.publicationInfo {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  font-size: 10px;
  line-height: 12px;
  justify-content: flex-end;
  margin-bottom: 7px;
  color: var(--gray99);

  @include utils.media-breakpoint-up(sm) {
    justify-content: flex-start;
    font-size: 14px;
    line-height: 16px;
    flex-direction: row;
    margin-bottom: 10px;
  }
}

.publishedWord {
  display: none;
  @include utils.media-breakpoint-up(sm) {
    display: inline-block;
    &:after {
      content: ' ';
    }
  }
}
