@use "utils" as utils;
@use "variables" as vars;

$displays: (
  none
  block
  flex
);

@mixin make-display {
  @each $bp, $_ in vars.$breakpoints {
    .d {
      @each $display in $displays {
        &-#{$display} {
          display: $display !important;
        }
      }
      @include utils.media-breakpoint-up($bp) {
        &-#{$bp} {
          @each $display in $displays {
            &-#{$display} {
              display: $display !important;
            }
          }
        }
      }
    }
  }
}

