@use "src/styles/utils" as utils;

@include utils.media-breakpoint-up(sm){
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    padding: 40px;
  }
}

@include utils.media-breakpoint-up(xl) {
  .header {
    padding: 67px 0;
  }
}

